/*
 * Global css
 */
ol, ul {
    list-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,  img, dl, dt, dd, ol, ul, li,
table, tbody, tfoot, thead, tr, th, td,
article, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}